$font-size-base: 12px;

$fontSize-body: $font-size-base;
$fontSize-small: 11px;
$fontSize-large: 14px;

$fontSize-xsmall: 8px;

$fontSize-h6: $font-size-base;
$fontSize-h5: $font-size-base;
$fontSize-h4: $fontSize-large;
$fontSize-h3: 18px;
$fontSize-h2: 28px;
$fontSize-h1: 28px;
$fontSize-jumbo: 60px;

$fontSize-iconSmall: 24px;
$fontSize-iconMedium: 32px;
$fontSize-iconLarge: 48px;